{% extends "dpsite/base.html" %}
{% load static %}
{% block content %}
<div class="container dp-container">

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-lg-7">
            {% if aboutteam_main.related_image %}<div class="dp-about-fixed-image" style="background-image: url('{{ aboutteam_main.related_image.url }}')"></div>{% endif %}
            <div class="dp-container">
                {{ aboutteam_main.page_text|safe }}
            </div>
        </div>

        <div class="col-lg-3">
            {% if aboutteam_sidebar.related_image %}<div class="dp-sm-about-fixed-image" style="background-image: url('{{ aboutteam_sidebar.related_image.url }}')"></div>{% endif %}
            <div class="dp-container">
                {{ aboutteam_sidebar.page_text|safe }}
            </div>
        </div>

        <div class="col-lg-2">
            {% if aboutteam_smsidebar.related_image %}<div class="dp-sm-about-fixed-image" style="background-image: url('{{ aboutteam_smsidebar.related_image.url }}')"></div>{% endif %}
            <div class="dp-container">
                {{ aboutteam_smsidebar.page_text|safe }}
            </div>
        </div>

    </div>
    <!-- /.row -->


</div>

{% endblock %}
