{% extends "dpsite/base.html" %}
{% load static %}
{% block content %}

<!--- copied from bootstrap template; tweaked from code in mapItem.html  // Nia 07.05.2018 -->
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:light,regular,bold,extra-bold" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>

<!-- Page Content -->
<br> <!-- for space between divs without making margins/padding -->

<div class="container">

  <!-- Portfolio Item Heading -->
    <!-- (deleted) -->

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-7">
      <!-- img class="img-fluid" src="http://placehold.it/750x500" alt="" -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/s6zR2T9vn2c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="max-width:100%;"></iframe>

      <h2 class="my-3">Project Leads</h2>
      <div> <!-- many inline styles to try to make it work -->
        <span class="profile-pic" style="position:static;
        display:inline-block;
        width:60px;
        height:60px;
        border:1px solid #000;
        background-color:red;">test</span>
        <h3>Tauheedah Shukriyyah Asad</h3>
        <h4>Creator</h4>
      </div>
      <p>Tauheedah Shukriyyah Asad is a doctoral student in the Lew Klein College of Media and  Communication at Temple University. Her research interests include the intersections of media, education and activism; anthropology of media; digital media and social media culture, public sphere pedagogy, the impact of media and emerging technologies in Black communities. Tauheedah is a proud graduate of Florida A&M University’s School of Journalism and Graphic Communication. She holds a master’s degree in Media Studies and Production from Temple University. <i>Diggin’ Philly: Developing a Framework to Document and Preserve Black Culture Through Media and Emerging Technologies</i> was her master’s thesis project.</p>
    <br>

    <h3>Krystal Strong</h3>
    <h4>Co-Creator</h4>
    <p>Krystal Strong is an assistant professor in the Graduate School of Education at University of Pennsylvania. She holds a Ph.D. in Anthropology from the University of California, Berkeley. Her research and teaching focus on activism, the cultural and political power of youth, and the role of schools as sites of political struggle in Africa and the African Diaspora. A native of Philadelphia, Krystal is actively involved in community organizing work in her hometown and brings this commitment to local issues and communities to her scholarship and pedagogy. Learn more about her work <a style="color:rgb(47, 124, 147) !important;" href="https://scholar.gse.upenn.edu/strong">here</a>.</p>
    <br>

    <h2 class="my-3">Project Team</h2>
    <p>Ansharaye Hines is a Philadelphia native and teacher at Mastery Charter, Shoemaker campus. Ansharaye is a producer, editor, and videographer for the web series.</p>
    <p>Monique Perry is a longterm Philly resident, educator, and Education doctoral student at U Penn. Monique is a producer, editor, and videographer for the web series.</p>
    <p>Ivy Williams is an undergraduate student at U Penn and producing a documentary project on Philly’s “Black Bottom” for her thesis. Supported by the Penn Undergraduate Research Mentoring program, Ivy is a research assistant for the project and an assistant producer and videographer for the web series.</p>
    <p>Vince Anthony is a Philadelphia musician, songwriter, and recording artist working as the Music Director for the web series.</p>
    <br>

    <h2 class="my-3">Website Design Team</h2>
    <p>Insert Price Lab Credits</p>


    </div>

    <div class="col-md-3">
      <h2>Production Team</h2>
      <h3>
        <p>John Doe</p>
        <p>Jane Smith</p>
        <p>Lorem Ipsum</p>
        <p>Dolor Sit Amet</p>
        <p>Consectetur</p>
        <p>Adipiscing Elit</p>
      </h3>

      <h2>Website Design</h2>
      <h3>
        <p>Team Leader</p>
        <p>Team Leader</p>
        <p>Team Member</p>
        <p>Team Member</p>
        <p>Team Member</p>
      </h3>

    </div>

    <div class="col-md-2">
      <h3 style="color:rgb(255,74,0);font-weight:600">About dp</span></h3>
      <p><b>Diggin’ Philly: The Black Philadelphia Project</b> is a multimodal platform that utilizes digital media and technology to document and celebrate the rich experiences, institutions, spaces, and cultures of Black people in the city. </p>
      <h3 style="font-weight:600">Contact Us</h3>
      <p>We would love to hear from you! If you have questions or comments email us at <a style="color:rgb(47, 124, 147) !important;" href="mailto:info@digginphilly.com">info@digginphilly.com</a></p>

    </div>


  </div>
  <!-- /.row -->


</div>



</body>
 {% endblock %}
