{% extends "dpsite/base.html" %}
{% load static %}
{% block content %}
<div class="container dp-container">

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-lg-7">
            {% if configs.aboutteam_main_image %}<div class="dp-about-fixed-image" style="background-image: url('{{ configs.aboutteam_main_image.url }}')"></div>{% endif %}
            <div class="dp-container">
                {{ configs.aboutteam_main_text|safe }}
            </div>
        </div>

        <div class="col-lg-3">
            {% if configs.aboutteam_sidebar_image %}<div class="dp-sm-about-fixed-image" style="background-image: url('{{ configs.aboutteam_sidebar_image.url }}')"></div>{% endif %}
            <div class="dp-container">
                {{ configs.aboutteam_sidebar_text|safe }}
            </div>
        </div>

        <div class="col-lg-2">
            <div class="dp-container">
                {{ configs.aboutteam_smsidebar_text|safe }}
            </div>
        </div>

    </div>
    <!-- /.row -->



</div>

{% endblock %}
