{% load static %}
<head>
    <!--Tab style-->
    <title>Diggin' Philly - The Black Philadelphia Project</title>
    <link href="https://s22.postimg.cc/knhnjmzht/icon.png" rel="icon" type="image/png">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!--Import Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<header>
  <!--Logo and search bar-->
          <nav class="navbar navbar-light bg-dark">
              <a class="navbar-brand" href="#">
                  <img src="https://s22.postimg.cc/kaq9dgwnl/logo.png" alt="header logo" height="50">
              </a>
          </nav>
          <!--Regular collapsable nav bar-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav w-100 nav-justified">
                      <li class="nav-item">
                          <a class="nav-link" href="#">About dp</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Map Index</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Web Series</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Oral History Archive</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">3D Archive</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Digital Resources</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">dp Blog</a>
                      </li>
                      <!--DROPDOWN - If they decide they want it for "About" page
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                      </li>
                  -->
                  </ul>
              </div>
          </nav>
</header>

{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <p>Welcome to the footer. Content Pending.</p>
    <span class="text-muted">Created by PriceLabs at UPenn</span>
  </div>
</footer>
