{% extends "dpsite/base.html" %}
{% load static %}
{% block content %}

<!--Toggle Menu-->
<a href="javascript:void(0);" class="dp-hideMenu open" id="hideButton">Menu<br><br></a>

<!--Sidebar content-->
<div id="right-align">
    <div class="contentBox">
        <button class="collapsible"><strong><div id="content-header">Details</div></strong></button>
        <div class="content map-detail" style="max-height: 476px;">
            <!--TITLE-->
            <h5><strong><div id="content-title"></div></strong></h5>
            <!--DATES-->
            <p><strong><div id="content-neighborhood-dates">
            </div></strong></p>
            <!--MEDIA-->
            <div id="content-media"></div>
            <!--DESCRIPTION-->
            <p>
                <div id="content-description">
                    {{ configs.map_sidebar|safe }}
                </div>
            </p>
        </div>
    </div>

    <!--SEARCH BOX-->
    <div class="input-group">
        <button class="collapsible" id="search"><strong>Search</strong></button>
        <div class="content map-search">
            <div class="searchBox form-inline">
                <input class="form-control mr-sm-2" type="text" id="query" placeholder="Search..." name="search">
                <span class="input-group-btn">
                    <button class="btn" type="submit" id ="submitButton">Search</button>
                </span>
            </div>
        </div>
    </div>

    <!--CHECKBOXES-->
    <button class="collapsible"><strong>Themes</strong></button>
    <div class="content">
        <button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
        <button type="button" class="btn btn-primary" onclick="clearFilter()">Clear Filter</button>
        <div class="theme-search">
            {% for tag in tags %}
            <label class="check-container theme-title">{{ tag.title }}
                <input type="checkbox" name = "tag" value = "{{ tag.id }}">
                <span class="checkmark"></span>
            </label>
            {% endfor %}
        </div>
    </div>

    <!--PART OF CITY-->
    <div id="part-of-city">
        <button class="collapsible"><strong>Part of City</strong></button>
        <div class="content">
            <button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
            <button type="button" class="btn btn-primary" onclick="clearFilter()">Clear Filter</button>
            <div class="theme-search">
                {% for part in part_of_city %}
                <label class="check-container theme-title">{{ part.title }}
                    <input type="checkbox" name = "location" value = "{{ part.id }}">
                    <span class="checkmark"></span>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--TIME PERIOD-->
    <div id="time">
        <button class="collapsible"><strong>Time Period</strong></button>
        <div class="content" style="color:white;">
            <div class="timeSelectionBox">
                <input class="time-box" type="text" id = "startTimeInput" placeholder="1960" name="search">
                to
                <input class="time-box" type="text" id = "endTimeInput" placeholder="2000" name="search">
                <button type="button" class="btn btn-primary" onclick="filter()">Filter</button>
                <button type="button" class="btn btn-primary" onclick="clearFilter()">Clear Filter</button>
            </div>
        </div>
    </div>
</div>

<!-- Use this span for writing debug messages -->
<!-- <span id='logMsg'></span> -->

<!--Map and popup items-->
<div id="map">
    <div id="dp-info"></div>
</div>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

<script>
    /*MENU CONTROLS*/
    $('.dp-hideMenu').on('click',function(){
        if($('.dp-hideMenu').hasClass('open')){
            $(this).removeClass('open');
            $(this).animate({
                "right":"-1rem"
            });
            $('#right-align').animate({"right":"-25%"});
        }
        else{
            $(this).addClass('open');
            $(this).animate({
                "right":"24%",
            });
            $('#right-align').animate({"right":"0rem"});
        }
    });

    /*COLLAPSIBLE SIDEBAR ELEMENTS*/
    var collapse = document.getElementsByClassName("collapsible");

    for (var i = 0; i < collapse.length; i++) {
        collapse[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    /*END COLLAPSIBLE SIDEBAR*/

    /*KEYWORD SEARCH*/
    const queryInput = document.getElementById('query');
    const searchButton = document.getElementById('submitButton');

    function search(query) {
        $('#logMsg').html(queryInput.value);
        var mapItemList = [];
        mapItemPointCoord0 = [];
        mapItemPointCoord1 = [];
        mapItemPointCoord2 = []
        {% for mapItem in map_items%}
        if ('{{mapItem.title}}'.includes(queryInput.value) || '{{mapItem.summary}}'.includes(queryInput.value) || '{{mapItem.description}}'.includes(queryInput.value)) {
            $('#logMsg').append('{{mapItem.title}}');
            mapItemList.push('{{mapItem}}');
            {% for point in mapItem.location1%}
                mapItemPointCoord0.push({{point.coords.0}});
                mapItemPointCoord1.push({{point.coords.1}});
                mapItemPointCoord2.push({{mapItem.id}});
            {% endfor %}
        }
        {% endfor %}
        setMarkers();
    }

    searchButton.onclick = function(event) {
        $('#logMsg').html(queryInput.value);
        search(queryInput.value);
        event.preventDefault();
    };

    var mapItemPointCoord0 = [];
    var mapItemPointCoord1 = [];
    var mapItemPointCoord2 = [];

    /*FILTERS SEARCH*/
    function filter() {
        var tagbox = document.getElementsByName("tag");
        var locbox = document.getElementsByName("location");
        var mapItemList = [];
        $('#logMsg').html("");
        mapItemPointCoord0 = [];
        mapItemPointCoord1 = [];
        mapItemPointCoord2 = [];

        for (var i = 0; i < tagbox.length; i++) {
            if (tagbox[i].checked == true) {
                {% for mapItem in map_items%}
                    {%for t in mapItem.tags.all%}
                        if ('{{t.id}}'==tagbox[i].value) {
                            // $('#logMsg').append('{{mapItem}}');
                            mapItemList.push('{{mapItem}}');
                            {% for point in mapItem.location1%}
                                mapItemPointCoord0.push({{point.coords.0}});
                                mapItemPointCoord1.push({{point.coords.1}});
                                mapItemPointCoord2.push({{mapItem.id}});
                            {% endfor %}
                        }
                    {% endfor %}
                {% endfor %}
            }
        }

        for (var i = 0; i< locbox.length; i++) {
            if (locbox[i].checked == true) {
                {% for mapItem in map_items %}
                    {% for poc in mapItem.get_pocs %}
                        if (locbox[i].value == {{ poc }}) {
                            // $('#logMsg').append('{{mapItem}}');
                            if (!mapItemList.includes('{{mapItem}}')) {
                                mapItemList.push('{{mapItem}}');
                                {% for point in mapItem.location1%}
                                    mapItemPointCoord0.push({{point.coords.0}});
                                    mapItemPointCoord1.push({{point.coords.1}});
                                    mapItemPointCoord2.push({{mapItem.id}});
                                {% endfor %}
                            }
                        }
                    {% endfor %}
                {% endfor %}
            }
        }

        var startQuery = document.getElementById('startTimeInput');
        var endQuery = document.getElementById('endTimeInput');
        {% for mapItem in map_items %}
            if (!({{ mapItem.start_date.year }} > endQuery.value) && !({{ mapItem.end_date.year }} < startQuery.value)) {
                if (!mapItemList.includes('{{mapItem}}')) {
                    mapItemList.push('{{mapItem}}');
                    {% for point in mapItem.location1 %}
                        mapItemPointCoord0.push({{ point.coords.0 }});
                        mapItemPointCoord1.push({{ point.coords.1 }});
                        mapItemPointCoord2.push({{mapItem.id}});
                    {% endfor %}
                }
            }
        {% endfor %}
        setMarkers();
    }

    function clearFilter() {
        // $('#logMsg').html("clearFilter clicked");
        var tagbox = document.getElementsByName("tag");
        var locbox = document.getElementsByName("location");
        for (var i = 0; i < tagbox.length; i++) {
            tagbox[i].checked = false;
        }
        for (var i = 0; i < locbox.length; i++) {
            locbox[i].checked = false;
        }
        {% for mapItem in map_items%}
            {% for point in mapItem.location1%}
                mapItemPointCoord0.push({{point.coords.0}});
                mapItemPointCoord1.push({{point.coords.1}});
                mapItemPointCoord2.push({{mapItem.id}});
            {% endfor %}
        {% endfor %}
        setMarkers();

    }


    /**
    * Create the map.
    */
    var map = new ol.Map({
        layers: [
        new ol.layer.Tile({
            source: new ol.source.XYZ({
                url: "{{ map_url }}"
            })
        })
        ],
        target: 'map',
        view: new ol.View({
            center: ol.proj.fromLonLat({{ center }}),
            zoom: {{ zoom }},
            minZoom: {{ min_zoom }},
            maxZoom: {{ max_zoom }},
        })
    });

    /**
    * Create a feature for each data point we have (the first time)
    */
    {% for mapItem in map_items %}
        {%for point in mapItem.location1 %}
            var markers = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                    new ol.Feature({
                        title: "{{mapItem.title|safe|striptags}}",
                        summary: '{{mapItem.summary|safe|striptags}}',
                        description: '{{mapItem.description|safe|striptags}}',
                        start: '{{mapItem.start_date|safe|striptags}}',
                        end: '{{mapItem.end_date|safe|striptags}}',
                        media: '{{mapItem.display_media_full|safe}}',
                        link:"{% url 'archiveitem' mapItem.id %}",
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([{{point.coords.0}} , {{point.coords.1}}])),
                    })
                    ]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 5,
                        fill: new ol.style.Fill({
                            color: [255,74,0]
                        })
                    }),
                })
            });
            map.addLayer(markers);
        {% endfor %}
    {% endfor %}

    function setMarkers() {
        map.getLayers().forEach(function(Vectorlayer) {
            if(Vectorlayer instanceof ol.layer.Vector)
            Vectorlayer.getSource().clear();
        });

        for (var i = 0; i < mapItemPointCoord0.length; i++) {
            {% for mapItem in map_items %}
                if (mapItemPointCoord2[i] == {{ mapItem.id }}) {
                    markers = new ol.layer.Vector({
                        source: new ol.source.Vector({
                            features: [
                            new ol.Feature({
                                title: "{{mapItem.title|safe|striptags}}",
                                summary: '{{mapItem.summary|safe|striptags}}',
                                description: '{{mapItem.description|safe|striptags}}',
                                start: '{{mapItem.start_date|safe|striptags}}',
                                end: '{{mapItem.end_date|safe|striptags}}',
                                media: '{{mapItem.display_media_full|safe}}',
                                link:"{% url 'archiveitem' mapItem.id %}",
                                geometry: new ol.geom.Point(ol.proj.fromLonLat([mapItemPointCoord0[i] , mapItemPointCoord1[i]])),
                            })
                            ]
                        }),
                        style: new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 5,
                                fill: new ol.style.Fill({
                                    color: [255,74,0]
                                })
                            }),
                        })
                    });
                }
            {% endfor %}
            map.addLayer(markers);
        }
    }

    /**
    * Tooltip
    */
    var info = $('#dp-info');
    info.tooltip({
        animation:false,
        trigger: 'manual',
    });

    var displayFeatureInfo = function(pixel){
        info.css({
            left: pixel[0] + 'px',
            top: (pixel[1]-15) +'px',
        });
        var feature = map.forEachFeatureAtPixel(pixel,function(feature){
            return feature;
        });
        if (feature){
            info.tooltip('show')
            .attr('data-original-title',feature.get('title'))
            .tooltip('show');
        }
        else{
            info.tooltip('hide');
        }
    };

    /**
    * Add a click handler to the map.
    */
    map.on('singleclick', function(evt) {
        const feature = map.forEachFeatureAtPixel(evt.pixel,
        function(feature) {
            return feature;
        });
        // Handle click on map item
        if (feature) {
            // Handle content change
            document.getElementById('content-title').innerHTML = "<a style='color:black !important;' href="+feature.get('link')+">"+feature.get('title')+"</a>";
            if (feature.get('description') !=null){
                document.getElementById('content-description').innerHTML =  feature.get('description');
            }
            document.getElementById('content-media').innerHTML = feature.get('media');
            if (feature.get('media') !=null){
                document.getElementById('content-media'){{mapItem.displayMedia}}
            }
        } else {
            document.getElementById('content=title').innerHTML="";
            document.getElementById('content-neighborhood-dates').innerHTML = "";
            document.getElementById('content-description').innerHTML = "{% filter escapejs %}{{ configs.map_sidebar|safe }}{% endfilter %}";
            document.getElementById('content-media').innerHTML="";
        }
    });

    map.on('pointermove', function(evt) {
        if (evt.dragging) {
            info.tooltip('hide');
            return;
        }
        displayFeatureInfo(map.getEventPixel(evt.originalEvent));
        map.getTargetElement().style.cursor = map.hasFeatureAtPixel(evt.pixel) ? 'pointer' : '';
    });

</script>

{% endblock %}
