<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	* {box-sizing: border-box;}

	.searchBox input[type=text] {
	  padding: 6px;
	  margin-top: 8px;
	  font-size: 17px;
	  border: none;
	}
	.searchBox button {
	  /* float: right; */
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  font-size: 17px;
	  border: none;
	  cursor: pointer;
	}


	.searchBox button:hover {
	  background: #ccc;
	}

	@media screen and (max-width: 600px) {
	  .searchBox {
	    float: none;
	  }
	  .searchBox input[type=text], .searchBox button {
	    float: none;
	    display: block;
	    text-align: left;
	    width: 100%;
	    margin: 0;
	    padding: 14px;
	  }
	  .searchBox input[type=text] {
	    border: 1px solid #ccc;
	  }
	}
	</style>
</head>

<body>
	{% extends 'dpsite/base.html' %}

	{% block content %}
	<div class="searchBox">
		<form action="/action_page.php">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>

<!-- Temporary modal button -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background:rgba(47,124,147,0.85);" >
      <div class="modal-body" style="color: white;">
        <h4 style="color: black;"><strong>Site of MOVE Bombing</strong></h4>
        <img class="img-responsive" src="https://image.freepik.com/free-photo/cute-cat-picture_1122-449.jpg" style="width: 100%;">
        <p style="color:black;"><strong>Modal content will go here.</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <div class="embed-container">
          <iframe style="height: 50%; width: 100%;" src="https://www.youtube.com/embed/LAqG0wcTfV4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div> <!--end modal content-->
  </div> <!--end modal dialogue-->
</div> <!--end modal-->

<div id="map" class="map"></div>
<div id="popup" class="ol-popup">
	<a href="#" id="popup-closer" class="ol-popup-closer"></a>
	<div id="popup-content"></div>
</div>



<script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
<script>


/**
* Elements that make up the popup.
*/
var container = document.getElementById('popup');
var content = document.getElementById('popup-content');
var closer = document.getElementById('popup-closer');


/**
* Add a click handler to hide the popup.
* @return {boolean} Don't follow the href.
*/
closer.onclick = function() {
	overlay.setPosition(undefined);
	closer.blur();
	return false;
};


/**
* Create an overlay to anchor the popup to the map.
*/
var overlay = new ol.Overlay({
	element: container,
	autoPan: true,
	autoPanAnimation: {
		duration: 250
	}
});


/**
* Create the map.
*/
var map = new ol.Map({
	layers: [
		new ol.layer.Tile({
			source: new ol.source.XYZ({
				url: 'https://api.mapbox.com/styles/v1/mirandamote/cjig4g2e218z52rqk7zaovjm9/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoibWlyYW5kYW1vdGUiLCJhIjoiY2ppZzRldDh0MGM2OTNxbzUwcnR5d3JyNiJ9.PVzMeD6NKLhtcIJFkv7ytQ'

			})
		})
	],
	overlays: [overlay],
	target: 'map',
	view: new ol.View({
		center: ol.proj.fromLonLat([-75.165222, 39.952583]),
		zoom: 12
	})
});

{% for mapItem in map_items%}
{% for point in mapItem.location1%}
var markers = new ol.layer.Vector({
	source: new ol.source.Vector({
		features: [
			new ol.Feature({
				geometry: new ol.geom.Point(ol.proj.fromLonLat([{{point.coords.0}} , {{point.coords.1}}])),

			})

		]
	}),
	style: new ol.style.Style({
		image: new ol.style.Icon({
			src: '//openlayers.org/en/v3.12.1/examples/data/icon.png',
			anchor: [0.5, 1]
		})
	})
});
map.addLayer(markers);
{% endfor %}
{% endfor %}

/**
* Add a click handler to the map to render the popup.
*/
map.on('singleclick', function(evt) {
	var name = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
		return feature.get('name');
	})
	var coordinate = evt.coordinate;
	content.innerHTML = name;
	overlay.setPosition(coordinate);
});
map.on('pointermove', function(evt) {
	map.getTargetElement().style.cursor = map.hasFeatureAtPixel(evt.pixel) ? 'pointer' : '';
});

</script>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
	modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
	modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == modal) {
			modal.style.display = "none";
	}
}
</script>
{% endblock %}
</body></html>
