{% extends "dpsite/base.html" %}
{% load static %}
{% block content %}
<!--
Full Motion by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<body id="top">

    <!-- Main -->
    <div id="main" class="row">
        <div class="inner col-md-9">
            <h1>The Web Series is currently in production, check back soon!</h1>
        </div>
        <div class="col-md-3 dp-sidebar">
            {{ sidebar_text|safe }}
        </div>
    </div>
</body>

{% endblock content %}
