/**
* Aligns all the content boxes to the right side
*/
#right-align {
    width: 25%;
    height: 75%;
    right: 0rem;
    z-index: 100;
    background-color: rgba(47, 124, 147, 0);
    overflow-x: hidden;
    position: fixed;
    transition: transform 0.2s;
}

/* Creates a single collapsible tag */
.collapsible {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color:rgba(31, 81, 97,0.2);;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    z-index:2;
    text-align: center;
    font-size: 1rem;
    color: #e5911f;
    background-color: rgba(53, 88, 85, 1);
}

.active,
.collapsible:hover {
    background-color: rgba(31, 81, 97,1);
}

/* Content inside collapsible */
.content {
    padding: 0px 8px;
    max-height: 0;
    overflow-x: hidden;
    width: 100%
    transition: max-height 1s ease-out;
    background-color: rgba(53, 88, 85, 1);
}


.dp-hideMenu{
    position: fixed;
    top:14.75rem;
    z-index: 100;
    background: rgba(53, 88, 85, 1); /* changed side panel from blue to lighter teal 53, 88, 85 */
    padding: 8px 8px;
    transform: rotate(-90deg);
    right: 24%;
}

.dp-hideMenu:hover {
    text-decoration: none;
    color: #203433; /* bdbfc1 changed to 32,52,51
}

.map-detail {
    color: white;
}

.map-search {
    width: 100%;
}

.theme-search {
    color: white;
    padding: 8px;
}

.theme-title {
    padding-left: 12px;
}

#content-description h1, #content-description h2, #content-description h3, #content-description h4, #content-description h5, #content-title {
    color: black;
}

#content-description p {
    font-size: 1rem;
}

.searchBox {
    padding: 5px;
}

.time-box {
    margin: 8px;
    width: 50px;
}

.timeSelectionBox {
    text-align: center;
}
